<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTIÓN DE VUELOS DE LA CIUDAD</title>
</head>
<body>
    <h1>Bienvenido a la Gestión de Vuelos</h1>
    <ul>
        <li><a href="{% url 'registrar_vuelo' %}">Registrar vuelos</a></li>
        <li><a href="{% url 'listar_vuelos' %}">Listar vuelos</a></li>
        <li><a href="{% url 'estadisticas_vuelos' %}">Estadísticas de vuelos</a></li>
    </ul>
</body>
</html>